<%- include("../includes/head.ejs") %> 
<%- include("../includes/header.ejs") %> 


<div class="container w-75 bg-light my-5 rounded-3 shadow">
    <div class="row align-items-stretch">
        <div class="col bg_fondo d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-start">
            
        </div>
        <div class="col bg-white p-5 rounded-end">
            <!-- <div class="text-end">
                <img class="logo_formulario py-5" src="src/utils/logo/logo_transparente.gif" alt="logo grupo syz">
            </div> -->

            <h2 class="fw-bold text-center mt-5 mb-3">Contactanos</h2>
            <!-- Inicio Login -->
            <form action="/" method="POST">
                <div class=" mb-3">
                    <label for="firstname1" class="form-label">Nombre</label>
                    <input id="firstname1" name="firstname" type="text" class="form-control" placeholder="Ingresar Nombre" 
                    value= "<% if (typeof valores != 'undefined') { %><%= valores.firstname %><% } %>" autofocus>
                </div>
                <div class=" mb-3">
                    <label for="lastname1" class="form-label">Apellido</label>
                    <input id="lastname1" name="lastname" type="text" class="form-control" placeholder="Ingresar Apellido"
                    value= "<% if (typeof valores != 'undefined') { %><%= valores.lastname %><% } %>">
                </div>
                <div class=" mb-3">
                    <label for="telefono1" class="form-label">Teléfono</label>
                    <input  id="telefono1" name="telefono" type="text" class="form-control" placeholder="Ingresar Teléfono"
                    value= "<% if (typeof valores != 'undefined') { %><%= valores.telefono %><% } %>">
                </div>
                <div class=" mb-3">
                    <label for="celular1" class="form-label">Celular</label>
                    <input id="celular1" name="celular" type="text" class="form-control" placeholder="Ingresar Celular"
                    value= "<% if (typeof valores != 'undefined') { %><%= valores.celular %><% } %>">
                </div>
                <div class=" mb-3">
                    <label for="email1" class="form-label">Correo</label>
                    <input id="email1" name="email" type="text" class="form-control" placeholder="Ingresar Correo"
                    value= "<% if (typeof valores != 'undefined') { %><%= valores.email %><% } %>">
                </div>
                <div class=" mb-3">
                    <label for="empresa1" class="form-label">Empresa</label>
                    <input id="empresa1" name="empresa" type="text" class="form-control" placeholder="Ingresar Empresa"
                    value= "<% if (typeof valores != 'undefined') { %><%= valores.empresa %><% } %>">
                </div>
                <div class="mb-3">
                    <label for="observacion1" class="form-label">Observación</label>
                    <textarea id="observacion1" name="observacion" class="form-control" 
                    placeholder="Una breve descripción, 550 palabras..."><% if (typeof valores != 'undefined') { %><%= valores.observacion %><% }%></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-label">
                    <label for="validacion" class="form-check-label"> He leído y acepto la <a href="#">Política de Tratamiento </a> de Datos</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-danger mb-3">Enviar</button>
                </div>
            </form>
            <!-- Fin Login -->

            <!-- Inicio Redes Sociales -->
            <div class="container w-100 ">
                <div class="row text-center">
                    <div class="col-12 my-1">Redes Sociales</div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-dark w-100 my-1">
                            <div class="row align-items-center">
                                <div class="col-2 d-none d-md-block">
                                    <a href="https://www.facebook.com/SYZColombia/?ref=br_tf&epa=SEARCH_BOX" target="_blank"><img src="src/utils/img/facebook.png" width="32" alt=""></a>
                                </div>
                                <div class="col-12 col-md-10 text-center">
                                    <a href="https://www.facebook.com/SYZColombia/?ref=br_tf&epa=SEARCH_BOX" target="_blank">Facebook</a>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark w-100 my-1">
                            <div class="row align-items-center">
                                <div class="col-2 d-none d-md-block">
                                    <a href="https://www.linkedin.com/company/syz-colombia" target="_blank"><img src="src/utils/img/linkedin.png" width="32" alt=""></a>
                                </div>
                                <div class="col-12 col-md-10 text-center">
                                    <a href="https://www.linkedin.com/company/syz-colombia" target="_blank">Linkedin</a>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Fin Redes Sociales -->

        </div>
    </div>
</div>



<%- include("../includes/footer.ejs") %>

<!-- Iniciar alerta -->

<

<% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            position: '<%= alertPosition %>',
            title: '<%= alertTitle  %>',
            icon: '<%= alertIcon %>',
            text: '<%= alertText %>',
            showConfirmButton:'<%= showConfirmButton %>',
            timer:  '<%= timer %>',
            
        }).then(()=>{
            window.location= '/<%= ruta %>'
        })
    </script>
<% } %>

<% if(typeof validacionesErrores != "undefined") { %>
    <% validacionesErrores.forEach( (validacionesErrores) => { %> 
        <script>
            Swal.fire({
                position: '<%= alertPosition %>',
                icon: '<%= alertIcon %>',
                title: '<%= validacionesErrores.msg %>',
                showConfirmButton:'<%= showConfirmButton %>',
                timer:  '<%= timer %>',
           }).then(()=>{
               window.location= '/<%= ruta %>'
           })
       </script>

    <% }) %> 
<% } %> 
    
<!-- Fin alerta -->